In [3]:
import pandas as pd

In [10]:
df = pd.read_csv('Dataset\\validation\\Vehicle registration plate\\Label\\0c756c9366a8cb10.txt', header=None, sep=' ')

In [11]:
df

,0,1,2,3,4,5,6
0,Vehicle,registration,plate,226.100224,382.659840,254.859264,394.049280
1,Vehicle,registration,plate,635.709440,580.257792,756.975616,638.397696

In [17]:
df.iloc[0][3]

226.10022400000005

In [ ]:
for r in range(df.shape[0]):